@page "/"
@layout LandingLayout
@using LearnmateSolution.Components.Layout

<PageTitle>LearnMate | Premium Online Tutoring</PageTitle>

<div class="bg-background-light text-slate-900 antialiased">
    <LandingHeader />
    <main>
        <HeroSection />
        <TrustBar />
        <FeaturesSection />
        <ProcessSection />
        <TutorsSection />
        <CtaSection />
    </main>
    <LandingFooter />
</div>
