@using LearnmateSolution.Components.Layout.Admin
@inherits LayoutComponentBase

<HeadContent>
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&family=Noto+Sans:wght@400;500;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/admin/admin-layout.css" />
</HeadContent>

<div class="admin-layout">
    <AdminSidebar />
    
    <div class="admin-main">
        <AdminHeader />
        
        <main class="admin-content">
            @Body
        </main>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
